body,
body * {
	margin: 0;
	padding: 0;
	vertical-align: top;
	box-sizing: border-box;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	word-break: break-all;
}

h1,
div,
table {
	margin-top: 20px;
	margin-left: 5%;
}

.current-dir-name {
	margin-left: 10px;
	font-weight: bold;
}

table {
	width: 90%;
	border-spacing: 0px;
}

th {
	background-color: green;
	color: white;
	padding: 5px 0px;
	border: 1px solid white;
}

tbody td {
	padding: 5px 0px;
	background-color: lightgrey;
	border: 1px solid white;
	width: 33%;
}

td form {
	float: left;
	margin-right: 10px;
}

button,
.new-dir-placeholder input {
	padding: 5px 10px;
	cursor: pointer;
}

input[type="text"] {
	cursor: text;
}

input[name="upload"] {
	padding: 0px 10px;
	font-size: 14px;
}

.back-btn a {
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	background-color: black;
	border-radius: 5px;
}

.back-btn.inactive a {
	background-color: grey;
	cursor: not-allowed;
}
